{% extends "base.html" %} {%block title%}Index{%endblock%} {%block content%}
<h1>Login</h1>
<form method ='POST' action ='{{url_for('index')}}'>
    <input type="text" name ="username"  placeholder="Username">
    <input type="password" name ="password"  placeholder="Password">
    <input type="submit" value ="login">
</form>
<h1> File Upload </h1>
<form method ='POST' action ="{{url_for('file_upload')}}" enctype='multipart/form-data' >
    <input type='file' name ='file' accept=".xlsx, .xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,text/plain" required="required" >
    <input type='submit'value='Upload File' >
</form>
<h1> Convert to CVS </h1>
<form method ='POST' action ="{{url_for('convert_csv')}}" enctype='multipart/form-data' >
    <input type='file' name ='file' accept=".xlsx, .xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required="required" >
    <input type='submit'value='Upload File' >
</form>

<h1> Convert to CVS Two </h1>
<form method ='POST' action ="{{url_for('convert_csv_two')}}" enctype='multipart/form-data' >
    <input type='file' name ='file' accept=".xlsx, .xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required="required" >
    <input type='submit'value='Upload File' >
</form>
<h1>Javascript JSON Request</h1>
<button id='post_button'>Send Post Request</button>


<script type="text/javascript" >
    document.addEventListener('DOMContentLoaded', () => {
    const post_button = document.getElementById('post_button');

    const jsonData = {
        name: 'Gabriel',
        greeting: 'hello'
    };

    post_button.addEventListener('click', () => {
        fetch('{{ url_for("handle_post") }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonData)
        })
        .then(response => response.json())
        .then(data => console.log('Success:', data))
        .catch((error) => {
            console.error('Error:', error);
        });
    });
});
</script>

{%endblock%}


